@model App_Library.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NPaginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NPaginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editoriales)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Editoriales != null)
            {
                @Html.DisplayFor(model => model.Editoriales.Nombre)
            }
            else
            {
                <span>No se ha especificado ninguna editorial.</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Isbn">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
