@model IEnumerable<App_Library.Models.Autore>

@{
    ViewData["Title"] = "Index";
}

<h1>List of authors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
 
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = item.Id })">Edit</a> |
                    <a class="btn btn-primary btn-sm" href="@Url.Action("Details", new { id = item.Id })">Details</a> |
                    <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = item.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

